Repository SimonHolmquist/SaveTheCat: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - SaveTheCat.Backend/*

variables:
  buildConfiguration: 'Release'
  # Ajusta esta ruta a la carpeta donde está tu .sln o .csproj
  projectFolder: 'SaveTheCat.Backend'
  azureSubscription: 'savethecat-prod-sc' # <--- PON AQUÍ EL NOMBRE DE TU CONEXIÓN
  webAppName: 'savethecat-prod-api-001'

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: Build
    steps:
    - task: UseDotNet@2
      inputs:
        packageType: 'sdk'
        version: '8.x' # Usamos .NET 8 como indica tu csproj
    
    - task: DotNetCoreCLI@2
      displayName: 'Restore'
      inputs:
        command: 'restore'
        projects: '$(projectFolder)/**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Build'
      inputs:
        command: 'build'
        projects: '$(projectFolder)/**/*.csproj'
        arguments: '--configuration $(buildConfiguration) --no-restore'

    - task: DotNetCoreCLI@2
      displayName: 'Publish'
      inputs:
        command: 'publish'
        projects: '$(projectFolder)/SaveTheCat.Api/SaveTheCat.Api.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory) --no-build'
        zipAfterPublish: true

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'

- stage: Deploy
  displayName: 'Deploy Stage'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            displayName: 'Deploy to Azure Web App'
            inputs:
              azureSubscription: '$(azureSubscription)'
              appType: 'webApp'
              appName: '$(webAppName)'
              package: '$(Pipeline.Workspace)/drop/*.zip'

azure-pipelines-frontend.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - SaveTheCat.Frontend/*

variables:
  # Ajusta la ruta a la carpeta del frontend
  appLocation: 'SaveTheCat.Frontend'
  outputLocation: 'dist' # Vite por defecto exporta a 'dist'
  # URL de tu Backend (IMPORTANTE PARA VITE)
  viteApiUrl: 'https://savethecat-prod-api-001-f3b8c0ehbsckashy.brazilsouth-01.azurewebsites.net/api'

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: self
  submodules: true

- task: NodeTool@0
  displayName: 'Use Node.js 20'
  inputs:
    versionSpec: '20.x'

- script: npm ci
  displayName: 'Install frontend dependencies'
  workingDirectory: '$(appLocation)'

- script: npm run build
  displayName: 'Build frontend'
  workingDirectory: '$(appLocation)'
  env:
    VITE_API_URL: $(viteApiUrl)

- task: AzureStaticWebApp@0
  displayName: 'Deploy to Static Web App'
  inputs:
    app_location: '$(appLocation)/$(outputLocation)' # Desplegamos la carpeta ya construida
    api_location: '' # Dejamos vac√≠o porque tu API es una Web App separada, no una Azure Function gestionada
    skip_app_build: true # Ya realizamos el build manualmente
  azure_static_web_apps_api_token: $(AZURE_STATIC_WEB_APP_API_TOKEN_PROD)

Configure CORS allowed origins
  SaveTheCat.Backend/SaveTheCat.Api/Program.cs
  SaveTheCat.Backend/SaveTheCat.Api/appsettings.json
Due: azure-pipelines-backend.yml

Improve CORS handling for static app
  SaveTheCat.Backend/SaveTheCat.Api/Program.cs
Due: azure-pipelines-backend.yml

Add JWT configuration validation and defaults
  SaveTheCat.Backend/SaveTheCat.Api/Configuration/JwtSettings.cs
  SaveTheCat.Backend/SaveTheCat.Api/Controllers/AuthController.cs
  SaveTheCat.Backend/SaveTheCat.Api/Program.cs
  SaveTheCat.Backend/SaveTheCat.Api/appsettings.json
Due: azure-pipelines-backend.yml

Handle missing nicknames during authentication
  SaveTheCat.Backend/SaveTheCat.Api/Controllers/AuthController.cs
Due: azure-pipelines-backend.yml

Simplify CORS configuration with hardcoded origins
  SaveTheCat.Backend/SaveTheCat.Api/Program.cs
Due: azure-pipelines-backend.yml

Handle unauthorized API responses
  SaveTheCat.Frontend/src/api/apiClient.ts
Due: azure-pipelines-frontend.yml

Update default SenderAddress in EmailSettings
  SaveTheCat.Backend/SaveTheCat.Infrastructure/EmailSettings.cs
Due: azure-pipelines-backend.yml

Add structured logging and global error handling
  SaveTheCat.Backend/SaveTheCat.Api/Controllers/AuthController.cs
  SaveTheCat.Backend/SaveTheCat.Api/Middlewares/ErrorHandlingMiddleware.cs
  SaveTheCat.Backend/SaveTheCat.Api/Program.cs
  SaveTheCat.Backend/SaveTheCat.Api/SaveTheCat.Api.csproj
  SaveTheCat.Backend/SaveTheCat.Application/Common/Behaviors/LoggingBehavior.cs
  SaveTheCat.Backend/SaveTheCat.Application/Common/Behaviors/ValidationBehavior.cs
  SaveTheCat.Backend/SaveTheCat.Application/Features/Auth/Handlers/RegisterCommandHandler.cs
Due: azure-pipelines-backend.yml

Add navigation fallback to staticwebapp.config.json
  SaveTheCat.Frontend/public/staticwebapp.config.json
Due: azure-pipelines-frontend.yml

Refine labels and placeholders in NoteDetailModal
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
Due: azure-pipelines-frontend.yml

Expand toolbar color palette to 15 options
  SaveTheCat.Frontend/src/components/Toolbar.tsx
Due: azure-pipelines-frontend.yml

Use beat-based colors for sticky notes
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/Toolbar.tsx
  SaveTheCat.Frontend/src/hooks/useStickyNotes.ts
  SaveTheCat.Frontend/src/utils/beatColors.ts
Due: azure-pipelines-frontend.yml

Enhance scene heading intellisense
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/SceneHeadingInput.tsx
Due: azure-pipelines-frontend.yml

Add first-time tutorial overlay
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/components/BeatSheet.tsx
  SaveTheCat.Frontend/src/components/Toolbar.tsx
  SaveTheCat.Frontend/src/components/TutorialOverlay.tsx
  SaveTheCat.Frontend/src/styles/globals.css
Due: azure-pipelines-frontend.yml

Add footer with contributor link
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/styles/globals.css
Due: azure-pipelines-frontend.yml

Make footer contact info clickable
  SaveTheCat.Frontend/src/App.tsx
Due: azure-pipelines-frontend.yml

Refactor beat structure and enhance UI consistency
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/Toolbar.tsx
  SaveTheCat.Frontend/src/utils/beatColors.ts
Due: azure-pipelines-frontend.yml

Enhance UI flexibility and styling options
  SaveTheCat.Frontend/src/components/BeatSheet.tsx
  SaveTheCat.Frontend/src/components/GenreInput.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/TextAreaWithSuggestions.tsx
Due: azure-pipelines-frontend.yml

selec coloreado
  SaveTheCat.Frontend/src/components/BeatSheet.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/Toolbar.tsx
Due: azure-pipelines-frontend.yml

genre input color fixed
  SaveTheCat.Frontend/src/components/BeatSheet.tsx
Due: azure-pipelines-frontend.yml

footer igual a toolbar
  SaveTheCat.Frontend/src/styles/globals.css
Due: azure-pipelines-frontend.yml

footer agregado al tutorial
  SaveTheCat.Frontend/src/App.tsx
Due: azure-pipelines-frontend.yml

empezando cambio bilingue
  SaveTheCat.Frontend/package-lock.json
  SaveTheCat.Frontend/package.json
  SaveTheCat.Frontend/src/components/BeatSheet.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/StickyBoard.tsx
  SaveTheCat.Frontend/src/components/UserMenu.tsx
  SaveTheCat.Frontend/src/i18n.ts
  SaveTheCat.Frontend/src/main.tsx
Due: azure-pipelines-frontend.yml

bilingue parte 2
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/StickyBoard.tsx
Due: azure-pipelines-frontend.yml

bilingue part 3
  SaveTheCat.Frontend/src/components/StickyNote.tsx
Due: azure-pipelines-frontend.yml

bilingue part4
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/components/BeatSheet.tsx
  SaveTheCat.Frontend/src/components/ConfirmDeleteModal.tsx
  SaveTheCat.Frontend/src/components/EntityModal.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/ProjectModal.tsx
  SaveTheCat.Frontend/src/components/StickyBoard.tsx
  SaveTheCat.Frontend/src/components/StickyNote.tsx
  SaveTheCat.Frontend/src/components/Toolbar.tsx
  SaveTheCat.Frontend/src/components/TutorialOverlay.tsx
  SaveTheCat.Frontend/src/i18n.ts
Due: azure-pipelines-frontend.yml

Add bilingual translations throughout app
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/components/BeatSheet.tsx
  SaveTheCat.Frontend/src/components/EntityModal.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/ProjectModal.tsx
  SaveTheCat.Frontend/src/components/StickyNote.tsx
  SaveTheCat.Frontend/src/components/UserMenu.tsx
  SaveTheCat.Frontend/src/i18n.ts
  SaveTheCat.Frontend/src/pages/ChangePasswordPage.tsx
  SaveTheCat.Frontend/src/pages/ForgotPasswordPage.tsx
  SaveTheCat.Frontend/src/pages/LoginPage.tsx
  SaveTheCat.Frontend/src/pages/RegisterPage.tsx
  SaveTheCat.Frontend/src/pages/ResetPasswordPage.tsx
  SaveTheCat.Frontend/src/pages/VerifyEmailConfirmPage.tsx
  SaveTheCat.Frontend/src/pages/VerifyEmailPage.tsx
  SaveTheCat.Frontend/src/utils/beatColors.ts
Due: azure-pipelines-frontend.yml

Icono nuevo
  SaveTheCat.Frontend/index.html
  SaveTheCat.Frontend/public/SaveTheCatBoardIcon.png
  SaveTheCat.Frontend/src/pages/ForgotPasswordPage.tsx
  SaveTheCat.Frontend/src/pages/LoginPage.tsx
  SaveTheCat.Frontend/src/pages/RegisterPage.tsx
  SaveTheCat.Frontend/src/pages/ResetPasswordPage.tsx
  SaveTheCat.Frontend/src/pages/VerifyEmailConfirmPage.tsx
  SaveTheCat.Frontend/src/pages/VerifyEmailPage.tsx
  SaveTheCat.Frontend/src/styles/globals.css
Due: azure-pipelines-frontend.yml

Fix hook order in reset password page
  SaveTheCat.Frontend/src/pages/ResetPasswordPage.tsx
Due: azure-pipelines-frontend.yml

cambio de altura del footer
  SaveTheCat.Frontend/src/styles/globals.css
Due: azure-pipelines-frontend.yml

bugfix
  SaveTheCat.Frontend/src/App.tsx
  SaveTheCat.Frontend/src/hooks/useEntities.ts
  SaveTheCat.Frontend/src/hooks/useProjects.ts
  SaveTheCat.Frontend/src/hooks/useStickyNotes.ts
Due: azure-pipelines-frontend.yml

bug fix
  SaveTheCat.Frontend/src/components/ConfirmDeleteModal.tsx
  SaveTheCat.Frontend/src/components/NoteDetailModal.tsx
  SaveTheCat.Frontend/src/components/TutorialOverlay.tsx
Due: azure-pipelines-frontend.yml

small changes
  SaveTheCat.Backend/SaveTheCat.Api/appsettings.json
  SaveTheCat.Backend/SaveTheCat.Infrastructure/Services/EmailService.cs
Due: azure-pipelines-backend.yml

cambios en email
  SaveTheCat.Backend/SaveTheCat.Infrastructure/EmailSettings.cs
  SaveTheCat.Backend/SaveTheCat.Infrastructure/Services/EmailService.cs
Due: azure-pipelines-backend.yml

cambios en email
  SaveTheCat.Backend/SaveTheCat.Infrastructure/EmailSettings.cs
Due: azure-pipelines-backend.yml

genres added to transaltion
  SaveTheCat.Frontend/src/components/GenreInput.tsx
  SaveTheCat.Frontend/src/i18n.ts
Due: azure-pipelines-frontend.yml

genres added to transaltion
  SaveTheCat.Frontend/src/components/GenreInput.tsx
Due: azure-pipelines-frontend.yml

Fix GenreInput translation hook usage
  SaveTheCat.Frontend/src/components/GenreInput.tsx
Due: azure-pipelines-frontend.yml

Add bilingual project README
  README.md
Due: none

Update README.md
  README.md
Due: none
